<footer class="footer">
    <div class="container">
      <div class="footer_copy fl_l">HandMade &copy; 2017</div>
      <a class="bnav_a" href="/login">войти</a>
      <a class="bnav_a" href="/register">регистрация</a>
      <a class="bnav_a" href="/feedback">обратная связь</a>
    </div>
    </div>

<div class="footer_bench clear">
        </div>
    </div>
</footer>