{% extends 'base.html' %}
{% load static %}


{% block content %}
    <head>
      <title>Регистрация</title>
    </head>
    <body>
      <form action="" method="post" class="form-inline text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
      </form>
    </body>
{% endblock %}
