{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
      <title>Регистрация</title>
    </head>
    <body>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
      </form>
    </body>
{% endblock %}