{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Ваше сообщение успешно отправлено!
<p><a href="http://127.0.0.1:8000">На главную</a></p>
</body>
</html>
{% endblock %}