{% extends 'base.html' %}
{% load static %}


{% block content %}
    <body>
  {% if user.is_authenticated %}
    Привет, {{ user.username }}!
    <br>
    <a href="/logout">Выход</a>
  {% else %}
    <a href="/login">Вход</a>
    <br>
    <a href="/register">Регистрация</a>
    <br>
    <a href="/feedback">Обратная связь</a>
  {% endif %}
</body>
    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" class="img-responsive">
    </div>
    <div class="section section1 jewerlys-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Украшения
                    </h1>
                </div>
                {% for product_image in products_images_jewelry %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section2 teddys-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Мишки Тедди
                    </h1>
                </div>
                {% for product_image in products_images_teddy %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="section section3 postcards-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Открытки
                    </h1>
                </div>
                {% for product_image in products_images_postcard %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}